@import "../../../public/styles/index.scss";

._videoDesktop {
  position: relative;
  width: 100vw;
  height: 90vh;
  image {
    position: absolute;
    object-fit: cover;
  }
}

._videoMobile {
  display: none;
}

@include responsive(lg) {
  ._videoDesktop {
    display: none;
  }

  ._videoMobile {
    border-radius: 0.625rem;
    overflow: hidden;
    display: block;
    position: relative;
    width: 90vw;
    height: 25vh;
    image {
      position: absolute;
      object-fit: cover;
    }
  }
}
